*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'ubuntu', sans-serif;


}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.nav-link {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color:  #957554;
    text-decoration: none;

}
.nav-link:hover {
    color: #000;
}
.navigation {
    display: flex;
    gap: 45px;

}

.first-section {
  background-image: url(assert/image/bon\ hotel.jpg);  
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px;
  

}
.first-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;

}
.main-title {
    
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    color: white;
       

}
.description, 
.button,
.footer-nav-links, 
.footer-text a,
.footer-text p {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
  
}

.button { 
    text-decoration: none;
    background-color: #DFAA5B;
    padding: 25px 133px;
    border-radius: 10px;
}
.secondary {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #957554;
    text-align: center;
    margin-bottom: 50px;

}
.rooms-cards {
    width: 630px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.rooms-cards > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards-content {
    position: absolute;
    left: 0;
    bottom: 57px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    width: 100%;
}
.card-title {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    color: white;
   


}
.button.button-small {
    padding: 25px 52px 24px 56px;

}
.overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.48%, #000000 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.rooms-gallery {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

footer {
    background: black;
    padding: 50px 0 160px;

}
.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-nav-links {
    font-weight: 400;
    text-decoration: none;
}
.footer-nav-links:hover,
.footer-text a:hover {
    color: #DFAA5B;
  
}
.footer-text a {
    display: block;
    font-weight: 300;
    text-decoration: none;

}
.footer-content img {
    width: 154px;
    height: 126px;
    object-fit: cover;
}

.news-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    grid-template-rows: 500px;
    margin-bottom: 50px;

}
.news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.news-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 44px;
}
.news-card-content h3{
    color: #DFAA5B;    

}
.news-card-content p{
    color: black;
    font-family: Ubuntu;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
  

}
.news-card:last-child img {
    order: 1;
}
.news-card:last-child {
    margin-bottom: 107px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 500px;
    gap: 30px;
    margin-bottom: 100px;
}
.gallery-grid img {
    width: 100%;
    height: 100%;
}